 /* Bootstrap tab designing */
 .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #428eda !important;
     /*background-color: #f8fafc;*/ 
     border-color: transparent !important; 
    border-bottom: 1px solid #428eda !important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
     border-color: transparent  !important; 
     border-bottom: 1px solid #dee2e6 !important;
}



.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: #428eda !important;
     /*background-color: #f8fafc;*/ 
     border-color: transparent !important; 
    border-bottom: 1px solid #428eda !important;
}

.nav-link{
	color:grey !important;
}


//filters

.filter{
	margin-bottom: 1.5rem;
	&-title{
		font-size:1rem;
		font-weight: bold;
	}
	&-card{
     background-color: #FFFFFF;
     padding: .7rem;
     border-radius: .3rem;
     margin-left: 1.3rem;
     margin-bottom: 2rem;
     &:not(:last-child){
     	margin-right: 1rem;
     };
	}
	}

/* Modal */
.companymodal{
	padding: 1.2rem;
}

.modal-heading{
	&_edit{
      font-size:1.2rem;
      font-color: grey;
      padding-right: .5rem;
      border-right: 3px solid #dee2e6;
	}
	&_name{
		font-size:1rem;
      padding-right: .4rem;
      padding-left: .4rem;
      border-right: 3px solid #dee2e6;
	}
	&_listening{
		font-size:1rem;
        padding-left: .4rem;
	}
}

/* Investment */
.investment{
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.formModal-btn{
	text-align: center;

	.btn{
		width: 14rem;
		font-size:1.2rem;
	}
}